@model IEnumerable<BlackBook.Models.InvoiceViewModel>

@{
    ViewData["Title"] = "Invoices";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Product Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var invoice in Model) {
        <tr>
            <td>
                @invoice.Id
            </td>
            <td>
                @invoice.Customer.Name
            </td>
            <td>
                @invoice.Qtys.Sum()
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@invoice.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
